<p id="page_title" class="MainTitle"></p>
<hr />
<div class="row">
    <div class="col-sm-12 pt-4">
        <p id="page_subtitle" class="SubTitle"></p>
    </div>
</div>
<div class="row pt-4">
    <div class="col-sm-5">
        <img class="img-fluid" src="~/images/hands-typing.jpg" />
    </div>
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-12">
                <h3 id="contact_subtitle" class="SubTitle pt-4 text-center"></h3>
            </div>
        </div>
        <div id="contactTableMobile">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <a href="https://www.linkedin.com/in/itamar-ribeiro/">
                            <img src="~/images/linkedin.png" alt="LinkedIn">
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="mailto:ribeirojr.itamar@gmail.com">
                            <img src="~/images/gmail.png" alt="GMail">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="contactTable" class="row">
            <div class="col-sm-12">
                <div class="row pt-2">
                    <div class="col-sm-5 text-center">
                        <a href="https://www.linkedin.com/in/itamar-ribeiro/">
                            <img width="64" height="64" src="~/images/linkedin.png" alt="LinkedIn">
                        </a>
                    </div>
                    <div class="col-sm-7">
                        <p class="display-6">LinkedIn</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 text-center">
                        <a href="mailto:ribeirojr.itamar@gmail.com">
                            <img width="64" height="64" src="~/images/gmail.png" alt="GMail">
                        </a>
                    </div>
                    <div class="col-sm-7">
                        <p class="display-6">GMail</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

